name: carnd
channels:
    - https://conda.anaconda.org/menpo
    - conda-forge
dependencies:
    - Flask==0.11.1
    - attrdict==2.0.0
    - eventlet==0.19.0
    - numpy
    - scipy==0.19.1
    - keras==2.2.4
    - tensorflow==1.12
    - h5py
    - Cython
    - contextlib2
    - lxml
    - matplotlib
    - pip:
        - python-socketio==1.6.1
        - pillow==2.2.1
        - sklearn
